[submodule "libraries/IRremoteESP8266"]
	path = libraries/IRremoteESP8266
	url = https://github.com/mat-cab/IRremoteESP8266.git
[submodule "libraries/makeEspArduino"]
	path = libraries/makeEspArduino
	url = https://github.com/plerup/makeEspArduino.git
